html{
      font-family: "Truculenta", sans-serif;
      color: black;

}

.container {
      position: absolute;
      top: 7%;
     left: 28%;
}
    
    img {
      width: 150px;
      height: 80px;
    }
    
h1{
      font-size: 80px;
      text-align: center;
      font-family: "Truculenta", sans-serif;
    

      
      

}

h1:hover{
      color: red;
}


.texto-secundario{
      font-size: 35px;
}
.texto-dois{
      font-size: 27px;
}

li{
      font-size: 25px;
      color: black;
      width: 500px;
      border: 1px solid black;
}

h3{
      font-size: 35px;
}
p{
      font-size: 35px;
}
fundo-vermelho{
      
background-color: red;
}